.DS_STORE
Thumbs.DB
.nova
__MACOSX
.DS_Store
node_modules/
uploads/*
upload/*
vendor/*
/mysql/data/*
!/mysql/data/.gitkeep
/phpmyadmin/sessions/*
!/phpmyadmin/sessions/.gitkeep
__pycache__
/back/src/therapilist_json/
/back/src/logs/*
!/back/src/logs/.gitkeep
!/back/src/logs/crawl/
!/back/src/logs/crawl/.gitkeep
/back/src/thcrawler/static/images/shop/*
!/back/src/thcrawler/static/images/shop/.gitkeep
/back/src/thcrawler/static/images/therapist/*
!/back/src/thcrawler/static/images/therapist/.gitkeep
